@use '../abstracts' as *;

.btn {

  font-weight: 700;
  font-size: rem(12);
  letter-spacing: 0;
  line-height: 100%;
  text-align: center;

  padding: .5rem 1.5rem;
  border-radius: 3em;
  border: none;
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }

  &-primary {
    color: var(--color-white);
    background: var(--color-primary);

    &:hover {
      background: var(--color-secondary);
    }
  }

  &-lg {

    font-size: rem(13);
    line-height: 100%;
    letter-spacing: .3px;

    padding: 1rem 2rem;

  }

  &-w-full-sm{
    width: 100%;
    @include desktop {
      width: auto;
    }
  }
}