@use '../abstracts' as *;

.tag {
  ///flex justify-start items-center gap-1

  display: inline-flex;
  align-items: center;
  font-size: rem(12);
  line-height: 100%;
  letter-spacing: 0;
  color:var(--color-muted);
  cursor: default;

  &__highlight {

    font-weight: 500;
    color:#48545C;

  }

  svg {
    margin-right: .2rem;
  }
}